body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: rgb(252, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

header, section {
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

header p {
    margin: 5px 0;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

button {
  background-color: #6200ea;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    padding: 16px;
}

.total-price {
    padding: 16px;
    text-align: right;
}

.checkout-button {
    width: 100%;
}

.product-container {
    align-content: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 16px;
    width: 100%;
}

.product-image {
    flex: 1;
    height: 100px;
    max-width: 100px;
}

.details-wrap {
    padding: 0 16px;
    flex: 3;
}

.remove-button {
    flex: 1;
    margin: auto;
}

.img-wrap {
    margin-top: 32px;
    text-align: center;
}

.img-wrap img {
    width: 400px;
}

.product-details {
    padding: 16px;
    position: relative;
}

.add-to-cart {
    width: 100%;
    margin-top: 16px;
}

.price {
    position: absolute;
    top: 24px;
    right: 16px;
}

.green-button {
    background-color: green;
}

.grey-button {
    background-color: #888;
}

.nav-bar {
    border-bottom: 1px solid #ddd;
    height: 75px;
    width: 100%;
}

.logo-wrap {
    width: 120px;
    height: 120px;
}

.products-link {
    text-align: center;
    display: block;
    color: rgb(25, 235, 189);
    font-size: 22px;
    left: 32px;
    position: absolute;
    top: 16px;
    text-decoration: none;
}

.products-link h1 {
    margin: 0;
}

.cart-link {
    position: absolute;
    right: 16px;
    top: 16px;
}

.grid-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
}

.product-item {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #888;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    padding: 20px;
    position: relative;
    width: 32%;
}

.product-name {
    margin-bottom: 0;
}

.product-item img {
    height: 200px;
    width: 200px;
}

.product-item a {
    width: 100%;
}

.product-item button {
    width: 100%;
}
